@model List<Contract>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>




<div>
    <h4 class="float-md-left">Договора</h4>
    <a asp-controller="Contract" asp-action="CreateEditContract" class="float-md-left">
        <input type="button" value="Новый договор" />
    </a>
</div>


<table class="table table-hover table-bordered results full">
    <thead>
        <tr>
            <th>#</th>
            <th>
                Заключен
            </th>
            <th>
                Фамилия на памятнике
            </th>
            <th>
                Установка/самовывоз
            </th>
            <th>
                Крайний срок
            </th>
            <th>
                Заказчик
            </th>
            <th>
                Телефон
            </th>
        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> Совпадения не найдены</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = Model.Count() - 1; i >= 0; i--)
        {
            <tr onclick="location.href='/Contract/CreateEditContract?idContract=@Model[i].Id'"
                class="table-stroke">
                <td class="font-weight-bold">
                    @{//номер договора
                        string numContract = Model[i].NumYear + "/" + Model[i].Place + "/" + Model[i].Number;
                        if (Model[i].InstallmentPayment) //рассрочка
                            numContract += "-р";
                        <label>@numContract</label>
                    }
                </td>
                <td>
                    @Model[i].DateOfConclusion.ToShortDateString()
                </td>
                <td>

                    @foreach (Deceased d in Model[i].Deceaseds)
                    {
                        @(d.LastName + " ")
                    }
                    @*@Html.DisplayFor(modelItem => Model[i].Deceaseds[0].LastName)*@
                </td>
                @*<td>
                        @if (item.Deceaseds[0].PhotosOnMonument[0] is Portrait)
                        {
                            @Html.DisplayFor(modelItem => ((Portrait)item.Deceaseds[0].PhotosOnMonument[0]).Artist)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => ((Medallion)item.Deceaseds[0].PhotosOnMonument[0]).BackgroundMedallion)
                        }
                    </td>
                    <td>
                        @if (item.Accessories[0] is StoneAccessorie)
                        {
                            @Html.DisplayFor(modelItem => ((StoneAccessorie)item.Accessories[0]).Material.Name)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => ((OtherAccessorie)item.Accessories[0]).Size)
                        }
                    </td>*@
                <td>
                    @{
                        string pickupText;
                        if (Model[i].Pickup) pickupText = "самовывоз";
                        else pickupText = "установка";
                    }
                    @pickupText
                </td>
                <td>
                    @Model[i].DeadLine.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Customers[0].LastName)
                    @Html.DisplayFor(modelItem => Model[i].Customers[0].FirstName)
                    @Html.DisplayFor(modelItem => Model[i].Customers[0].MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Customers[0].Number)
                </td>

                @*<td>
                    </td>*@

                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
            </tr>
        }

        @*@foreach (var item in Model)
            {

            }*@
    </tbody>
</table>


