@model ContractViewModel

@{
    ViewData["Title"] = "CreateContract";
}

<h4>Новый договор</h4>
<hr />

<div style="width: 1300px; margin: 0px 15px; border-color:darkgray">
    @using (Html.BeginForm())
    {
        // --- Дата и номер заказа ----------------------------------
        <div class="wrapper w5" style="width: 700px">
            <div>Дата заключения:</div>
            <div>
                <input asp-for="Contract.DateOfConclusion" class="form-control" type="date" autocomplete="off" />
                <span asp-validation-for="Contract.DateOfConclusion" class="text-danger"></span>
            </div>
            <div>Номер: </div>
            <div>
                <input asp-for="Contract.NumYear" class="form-control" style="max-width: 40px" autocomplete="off" />
                /
                <input asp-for="Contract.Place" class="form-control" style="max-width: 40px" autocomplete="off" />
                /
                <input asp-for="Contract.Number" class="form-control" style="max-width: 70px" autocomplete="off" />
            </div>
            <div><input asp-for="Contract.InstallmentPayment" /> @Html.DisplayNameFor(model => model.Contract.InstallmentPayment)</div>

            <div>Крайний срок: </div>
            <div>
                <input asp-for="Contract.DeadLine" class="form-control" type="date" />
                <span asp-validation-for="Contract.DeadLine" class="text-danger"></span>
            </div>
        </div>
        /////////////////////////////////////////////////////////////
        // --- Заказчики --------------------------------------------
        <div class="border">
            <h5>
                Заказчики
            </h5>

            <div id="Customers">
                <div class="customer-container " id="CustomerContainer0">
                    <div class="wrapper w5 p96">
                        <div class="box1">ФИО заказчика: </div>
                        <div>Телефон: </div>
                        <div>
                            <img class="icon def" src="~/Images/viber.png" title="viber" />
                            <img class="icon def" src="~/Images/telegram.png" title="telegram" />
                            <img class="icon def" src="~/Images/whatsapp.png" title="whatsapp" />
                        </div>
                        <div>Email: </div>
                        <div>Другая связь: </div>

                        <div class="box1">
                            <input type="text" asp-for="Contract.Customers[0].LastName" 
                                   class="form-control" placeholder="Фамилия" />
                            <input type="text" asp-for="Contract.Customers[0].FirstName"
                                   class="form-control" placeholder="Имя" />
                            <input type="text" asp-for="Contract.Customers[0].MiddleName"
                                   class="form-control" placeholder="Отчество" />
                        </div>
                        <div>
                            <input type="text" asp-for="Contract.Customers[0].Number"
                                   class="form-control" />
                        </div>

                        <div>
                            <input asp-for="Contract.Customers[0].Viber" />
                            <input asp-for="Contract.Customers[0].Telegram" />
                            <input asp-for="Contract.Customers[0].WhatsApp" />
                        </div>
                        <input type="text" asp-for="Contract.Customers[0].Email"
                               class="form-control"  />
                        <input type="text" asp-for="Contract.Customers[0].Note"
                               class="form-control" />

                    </div>
                    @*<div style="width: 23px"></div>*@
                    <div></div>
                    <div class="full">
                        <div>Адрес заказчика:</div>
                        <input class="form-control p96" type="text" asp-for="Contract.Customers[0].Address" autocomplete="off" />
                    </div>


                </div>
                @*<div style="width: 50px"></div>*@

            </div>
            <input type="button" class="add-btn my-btn" id="AddCustomer" value="Добавить заказчика" />
        </div>
        /////////////////////////////////////////////////////////////
        // --- Установка / самовывоз --------------------------------
        <div class="form-group border">
            <h5>
                Установка / самовывоз
            </h5>
            <div class="wrapper w5" id="installation">
                <div>Адрес захоронения: </div>
                <div>Сектор: </div>
                <div>Ряд: </div>
                <div>Участок: </div>
                <div>Могила: </div>

                <div>
                    <input asp-for="Contract.BurialAddress" class="form-control" style="width: 870px" />
                    <span asp-validation-for="Contract.BurialAddress" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="Contract.Sector" class="form-control px100" />
                    <span asp-validation-for="Contract.Sector" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="Contract.Row" class="form-control px100" />
                    <span asp-validation-for="Contract.Row" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="Contract.BurialPlace" class="form-control px100" />
                    <span asp-validation-for="Contract.BurialPlace" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="Contract.Grave" class="form-control px100" />
                    <span asp-validation-for="Contract.Grave" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group mar-top5 full">
                <label asp-for="Contract.DistanceFromMKAD" class="control-label"></label>
                <input asp-for="Contract.DistanceFromMKAD" class="form-control" />
                <span asp-validation-for="Contract.DistanceFromMKAD" class="text-danger"></span>

                <label asp-for="Contract.NumberOfTrips" class="control-label"></label>
                <input asp-for="Contract.NumberOfTrips" class="form-control" />
                <span asp-validation-for="Contract.NumberOfTrips" class="text-danger"></span>


                <input asp-for="Contract.Pickup" /> @Html.DisplayNameFor(model => model.Contract.Pickup)

                <a href="https://www.google.com/maps/dir/%D0%9C%D0%B8%D0%BD%D1%81%D0%BA//@@53.8962712,27.4818161,11z/data=!4m8!4m7!1m5!1m1!1s0x46dbcfd35b1e6ad3:0xb61b853ddb570d9!2m2!1d27.558972!2d53.9006011!1m0"
                   class="left">Рассчитать маршрут...</a>
            </div>
        </div>
        /////////////////////////////////////////////////////////////
        // --- Информация на памятнике ------------------------------
        <div class="border">
            <h5>
                Информация на памятнике
            </h5>

            <div id="Deceaseds">
                @if (Model.Contract.Deceaseds != null)
                {
                    @for (int i = 0; i < Model.Contract.Deceaseds.Count; i++)
                    {
                        <div class="deceased-container" id=@($"DeceasedContainer{i}")>

                            <div class="wrapper w5 p96 float-md-left border b-grey">
                                <div>ФИО: </div>
                                <div></div>
                                <div></div>
                                <div>Дата рождения: </div>
                                <div>Дата смерти: </div>

                                <input type="text" asp-for="Contract.Deceaseds[i].LastName"
                                       class="form-control full" placeholder="Фамилия" />
                                <input type="text" asp-for="Contract.Deceaseds[i].FirstName"
                                       class="form-control full" placeholder="Имя" />
                                <input type="text" asp-for="Contract.Deceaseds[i].MiddleName"
                                       class="form-control full" placeholder="Отчество" />
                                <input asp-for="Contract.Deceaseds[i].DateBirthday" class="form-control full" type="date" />
                                <input asp-for="Contract.Deceaseds[i].DateRip" class="form-control full" type="date" />

                                <select class=" form-control full" asp-for="Contract.Deceaseds[i].TypeNameText">
                                    <option value=@null>Тип текста ФИО...</option>
                                    @foreach (string item in ViewBag.TypeText)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                                <input type="text" asp-for="Contract.Deceaseds[i].EngraverName"
                                       class="form-control full" placeholder="Гравер (ФИО)..." />
                                <input type="text" asp-for="Contract.Deceaseds[i].NotesTextName"
                                       class="form-control typetext-note full" placeholder="Примечание (ФИО)..." />

                                @*--------------- Эпитафия (начало) -----------------*@

                                <div><input asp-for="Contract.Deceaseds[i].Epitaph" class="check-epitaph" />  Эпитафия:</div>
                                <textarea asp-for="Contract.Deceaseds[i].NotesTextEpitaph"
                                          class="form-control text-note full notes-text-epitaph-0"
                                          placeholder="Текст эпитафии..." disabled="disabled"></textarea>

                                <div></div>
                                <select class="full form-control type-name-epitaph-0" asp-for="Contract.Deceaseds[i].TypeNameEpitaph" disabled="disabled">
                                    <option value=@null>Тип текста эпитафии...</option>
                                    @foreach (string item in ViewBag.TypeText)
                                    {
                                        <option value=@item>@item</option>
                                    }
                                </select>
                                <input type="text" asp-for="Contract.Deceaseds[i].EngraverEpitaph"
                                       class="form-control full engraver-epitaph-0" placeholder="Гравер (эпитафия)..." disabled="disabled" />

                                @*--------------- Эпитафия (конец) -----------------*@
                                <div></div>
                                <div></div>

                                @*// --------------- Фотография (начало) --------------------*@
                                <div class="full-wrap">
                                    <div class=@($"Portraits{i}") id=@($"Portraits{i}")>

                                    </div>
                                    <input type="button" class=@($"add-btn my-btn add-portrait ap{i}") value="Добавить портрет" />


                                    <div class=@($"Medallions{i}") id=@($"Medallions{i}")>
                                        @*Медальоны*@

                                    </div>
                                    <input type="button" class=@($"add-btn my-btn add-medallion am{i}") value="Добавить медальон" />
                                </div>
                                @*// --------------- Фотография (конец) ---------------------*@

                            </div>
                            <input type="button" class="remove-deceased r-btn float-md-left" value="х" />
                        </div>
                    }
                }

            </div>
            <input type="button" class="add-btn my-btn " id="AddDeceased" value="Добавить информацию об усопшем" />
        </div>
        /////////////////////////////////////////////////////////////
        // --- Примечания -------------------------------------------
        <div class="wrapper w5">
            <div>
                <label asp-for="Contract.Decoration" class="control-label"></label>
            </div>
            <div class=" text-note">
                <textarea asp-for="Contract.Decoration" class="form-control" cols="100"></textarea>
            </div>

            <div>
                <label asp-for="Contract.NoteInstaller" class="control-label"></label>
            </div>
            <div class=" text-note">
                <textarea asp-for="Contract.NoteInstaller" class="form-control" cols="100"></textarea>
            </div>

            <div>
                <label asp-for="Contract.NoteProduction" class="control-label"></label>
            </div>
            <div class=" text-note">
                <textarea asp-for="Contract.NoteProduction" class="form-control" cols="100"></textarea>
            </div>

            <div>
                <label asp-for="Contract.Note" class="control-label"></label>
            </div>
            <div class=" text-note">
                <textarea asp-for="Contract.Note" class="form-control" cols="100"></textarea>
            </div>
        </div>
        /////////////////////////////////////////////////////////////
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts{
    <script src="~/js/CreateContract.js"></script>
}