@model PortraitViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="content-box">
    <h1>Сведения</h1>

    <table class="table table-hover table-bordered">
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    Номер договора:
                </td>
                <td>
                    @Model.ContractNumber
                </td>
            </tr>
            <tr>
                <td>
                    Дата заключения договора:
                </td>
                <td>
                    @Model.DateConclusionContract.ToShortDateString()
                </td>
            </tr>
            <tr>
                <td>
                    Фамилия усопшего:
                </td>
                <td>
                    @Model.LastNameDeceased
                </td>
            </tr>
            <tr>
                <td>
                    Тип портрета:
                </td>
                <td>
                    @Model.Portrait.TypePortrait
                </td>
            </tr>
            <tr>
                <td>
                    Художник:
                </td>
                <td>
                    @Model.Portrait.Artist
                </td>
            </tr>
            <tr>
                <td>
                    Имя заказчика:
                </td>
                <td>
                    @Model.NameCustomer
                </td>
            </tr>
            <tr>
                <td>
                    Телефон заказчика:
                </td>
                <td>
                    @Model.PhoneCustomer
                </td>
            </tr>
            <tr>
                <td>
                    Фотография:
                </td>
                <td>
                    @if (Model.Portrait.PhotoName != null)
                    {
                        <a href="@Model.Portrait.PhotoPath" download="@Model.Portrait.PhotoName"
                           class="download-btn full">
                            <input type="button" class="full" value="Скачать" />
                        </a>
                    }
                    else
                    {
                        <label>Ожидается фото от заказчика...</label>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Примечание:
                </td>
                <td>
                    @Model.Portrait.Note
                </td>
            </tr>
        </tbody>
    </table>

    @if (Model.Portrait.DateCompleat < new DateTime(2000, 01, 01))
    {
        <form class="form-inline" asp-controller="Portrait" asp-action="CompleateOn"
              asp-route-idPortrait="@Model.Portrait.Id" asp-route-date="@DateTime.Today.ToShortDateString().ToString()"
              method="post">
            <button type="submit" class="btn btn-primary">Выполнено</button>
        </form>
    }
    else
    {
        <h5>Портрет выполнен @Model.Portrait.DateCompleat.ToShortDateString()</h5>
    }





</div>


    