@model TextViewModel

@{
    ViewData["Title"] = "Details";
    string nameText;
    if (Model.TextEpitaph)
        nameText = "(эпитафия)";
    else
        nameText = "(текст ФИО и даты)";
}

<div class="content-box">
    <h1>Сведения @nameText</h1>

    <table class="table table-hover table-bordered">
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    Номер договора:
                </td>
                <td>
                    @Model.ContractNumber
                </td>
            </tr>
            <tr>
                <td>
                    Дата заключения договора:
                </td>
                <td>
                    @Model.DateConclusionContract.ToShortDateString()
                </td>
            </tr>
            <tr>
                <td>
                    Фамилия усопшего:
                </td>
                <td>
                    @Model.LastNameDeceased
                </td>
            </tr>
            <tr>
                <td>
                    Имя заказчика:
                </td>
                <td>
                    @Model.NameCustomer
                </td>
            </tr>
            <tr>
                <td>
                    Телефон заказчика:
                </td>
                <td>
                    @Model.PhoneCustomer
                </td>
            </tr>

            @if (Model.TextEpitaph)
            {
                <tr>
                    <td>
                        Текст эпитафии:
                    </td>
                    <td>
                        @Model.Deceased.Epitaph.NotesTextEpitaph
                    </td>
                </tr>
                <tr>
                    <td>
                        Тип текста:
                    </td>
                    <td>
                        @Model.Deceased.Epitaph.TypeTextEpitaph
                    </td>
                </tr>
                <tr>
                    <td>
                        Гравер:
                    </td>
                    <td>
                        @Model.Deceased.Epitaph.EngraverEpitaph
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        ФИО усопшего:
                    </td>
                    <td>
                        @Model.Deceased.FirstName @Model.Deceased.LastName @Model.Deceased.MiddleName
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата рождения:
                    </td>
                    <td>
                        @Model.Deceased.DateBirthday
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата смерти:
                    </td>
                    <td>
                        @Model.Deceased.DateRip
                    </td>
                </tr>
                <tr>
                    <td>
                        Тип текста:
                    </td>
                    <td>
                        @Model.Deceased.TypeNameText
                    </td>
                </tr>
                <tr>
                    <td>
                        Гравер:
                    </td>
                    <td>
                        @Model.Deceased.EngraverName
                    </td>
                </tr>
                <tr>
                    <td>
                        Примечание:
                    </td>
                    <td>
                        @Model.Deceased.NotesTextName
                    </td>
                </tr>
            }

        </tbody>
    </table>

    @{
        DateTime dateBegin, dateCompleate;
    }
    @if (Model.TextEpitaph)
    {
        dateBegin = Model.Deceased.Epitaph.DateBeginTextEpitaph;
        dateCompleate = Model.Deceased.Epitaph.DateCompleatTextEpitaph;
    }
    else
    {
        dateBegin = Model.Deceased.DateBeginTextName;
        dateCompleate = Model.Deceased.DateCompleatTextName;
    }

    @if (dateCompleate < new DateTime(2000, 01, 01))
    {
        <form class="form-inline" asp-controller="Text" asp-action="CompleateOn"
              asp-route-idDeceaced="@Model.Deceased.Id" asp-route-epitaph="@Model.TextEpitaph" asp-route-date="@DateTime.Today.ToShortDateString().ToString()"
              method="post">
            <button type="submit" class="btn btn-primary">Выполнено</button>
        </form>
    }
    else
    {
        <h5>Текст выполнен @dateCompleate.ToShortDateString()</h5>
    }





</div>


