@model List<MedallionViewModel>

<h4>Медальоны</h4>

<table class="table table-hover table-bordered results full">
    <thead>
        <tr>
            <th>№ дог-ра</th>
            <th>
                Дата заключ-я
            </th>
            <th>
                Усопший
            </th>
            <th>
                Форма
            </th>
            <th>
                Материал
            </th>
            <th>
                Заказчик
            </th>
            <th>
                Телефон
            </th>

            <th>
                Статус
            </th>

        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> Совпадения не найдены</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = Model.Count() - 1; i >= 0; i--)
        {
        <tr onclick="location.href='/Medallion/Details?idMedallion=@Model[i].Medallion.Id'"
            class="table-stroke">
            <td class="font-weight-bold">
                @Model[i].ContractNumber
            </td>
            <td>
                @Model[i].DateConclusionContract.ToShortDateString()
            </td>
            <td>
                @Model[i].LastNameDeceased
            </td>
            <td>
                @if (Model[i].Medallion.ShapeMedallion != null)
                    {
                        <label>@Model[i].Medallion.ShapeMedallion.Name</label>
                    }
            </td>
            <td>
                @if (Model[i].Medallion.MedallionMaterial != null)
                    {
                        <label>@Model[i].Medallion.MedallionMaterial.Name</label>
                    }
            </td>
            <td>
                @Model[i].NameCustomer
            </td>
            <td>
                @Model[i].PhoneCustomer
            </td>

            @if (Model[i].Medallion.DateCompleat > new DateTime(2000, 01, 01))
            {
            <td>
                <label>Завершен @Model[i].Medallion.DateCompleat.ToShortDateString()</label>
            </td>
            }
            else if (Model[i].Medallion.DateBegin > new DateTime(2000, 01, 01))
            {
            TimeSpan time = Model[i].Medallion.DateBegin.AddDays(15) - DateTime.Today;
            @if (Model[i].Medallion.DateBegin.AddDays(12) > DateTime.Today)
            {
            <td class="status-green">
                <label>В процессе (ост. @(time.Days + 1) дн.)</label>
            </td>
            }
            else if (Model[i].Medallion.DateBegin.AddDays(15) >= DateTime.Today)
            {
            <td class="status-orange">
                <label>В процессе (ост. @(time.Days + 1) дн.)</label>
            </td>
            }
            else
            {
            <td class="status-red">
                <label>Просрочка @time.Days дн.</label>
            </td>
            }

            }
            else
            {
            <td class="status-blue">
                <label>В ожидании</label>
            </td>
            }
            
        </tr>
        }

        
    </tbody>
</table>